/* You can add global styles to this file, and also import other style files */

body {
  background-color: #000000;
  color: white;
  font-family: 'Nunito', sans-serif;
}

@font-face {
    font-family: 'Nunito';
    src: url('./assets/fonts/Nunito-VariableFont_wght.ttf');
}